# Node / React
node_modules/
dist/
build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
backend/.env
.venv/
venv/
ENV/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Misc
*.swp
backend/config/glide-a52df-firebase-adminsdk-fbsvc-52ec769993.json
