/* === GLOBAL CLEANUP RESET === */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

:root {
  --bg-color: #F5F1E8;
  --text-color: #3E3731;
}

:root.dark {
  --bg-color: #3E3731;
  --text-color: #F5F1E8;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--bg-color);
  color: var(--text-color);
}

Link {
  background-color: var(--bg-color);
  color: var(--text-color);
}
